<html>
<head>
<title>^--- Green UP ---^</title>
</head>
<body>
<h1>Green UP Barcelona</h1>
 
<table>
  <tr>
    {% for i in loop %}
      <td><img src=static/greenup.png width=25></td>
    {% endfor %}
  </tr>
</table>
<h2>Reaching new heights with Green Rooftops. Verde Vamos.</h2>

<table border=30>
  <tr>
    <td>Improving air quality</td>
    <td>By reducing harmful emissions and pollutants from industries, transportation, and other sources, GREENUP can significantly improve air quality. This benefits both human health and biodiversity by reducing respiratory issues, smog, and acid rain.</td>
  </tr>
  <tr>
    <td>Protecting biodiversity</td>
    <td> Preserving natural habitats and ecosystems through conservation efforts helps protect endangered species and maintain biodiversity. This is essential for maintaining the balance of ecosystems and preventing the loss of valuable plant and animal species. Currently, 498 species considered vulnerable, and 111 critically, according to the Barcelona Zoo Foundation and UICN Red List.</td>
  </tr>
  <tr>
    <td>Unused resources</td>
    <td> Barcelona rooftops are an unused potential resource which can easily be repurposed. The total rooftop area in Barcelona is estimated to be around 526,000 square meters.</td>
  </tr>
  <tr>
    <td>Rainwater Absorbtion</td>
    <td>Absorbing rainwater also helps to reduce flooding and erosion and can help to improve the quality of local water bodies by reducing the amount of pollutants that are carried into rivers and lakes. By filtering out contaminants such as sediment, nutrients, and chemicals, rainwater absorption can help to protect water quality and habitat for aquatic life.</td>
  </tr>
  <tr>   
    <td>Mitigating Urban Heat Island Effect</td>
    <td>Green roofs have been proven to help reduce heat islands. Trees, green roofs, and vegetation can help reduce urban heat island effect by shading building surfaces, deflecting radiation from the sun, and releasing moisture into the atmosphere.</td>
  </tr>
  <tr>   
    <td>Mitigating Climate Change</td>
    <td>Implementing measures to reduce greenhouse gas emissions and combat climate change has significant environmental benefits. This includes reducing the severity of natural disasters, preserving polar ice caps, and protecting vulnerable habitats from the impacts of global warming.</td>
  </tr>
</table>
<p>
<br>
<p>
<center>
<img src=static/greenroof.jpg>
</center>
<p>
<br>
<p>
<table width=100%>
  <tr width=100%>
    <td width=100% colspan=3>
      <h3>Catalunia Indigenous Drought Resistant Plant Species</h3>
    </td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Lavender (Lavandula angustifolia)</b></td>
    <td width={{ image_width }}><img src=static/lavandula_angustifolia.jpg width={{ image_width }}></td>
    <td>A drought-tolerant plant known for its fragrant purple flowers. It requires well-drained soil and full sun.</td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Rosemary (Rosmarinus officinalis)</b></td>
    <td width={{ image_width }}><img src=static/opuntia_spp.jpg width={{ image_width }}></td>
    <td>Another aromatic herb that thrives in arid conditions. It prefers dry, rocky soil and full sun.</td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Spanish broom (Spartium junceum)</b></td>
    <td width={{ image_width }}><img src=static/spartium_junceum.jpg width={{ image_width }}></td>
    <td>A shrub with bright yellow flowers that can tolerate drought and poor soil conditions.</td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Prickly pear cactus (Opuntia spp.)</b></td>
    <td width={{ image_width }}><img src=static/opuntia_spp.jpg width={{ image_width }}></td>
    <td>A succulent plant that stores water in its fleshy pads, making it well-suited for arid landscapes.</td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Agave (Agave spp.)</b></td>
    <td width={{ image_width }}><img src=static/agave_shawii.jpg width={{ image_width }}></td>
    <td>A striking plant with rosettes of thick, spiky leaves that excel in hot, dry climates.</td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Lavender cotton (Santolina chamaecyparissus)</b></td>
    <td width={{ image_width }}><img src=static/santolina_chamaecyparissus.jpg width={{ image_width }}></td>
    <td>A compact shrub with silver-gray foliage and yellow button-like flowers that thrives in well-drained, dry soil.</td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Spanish lavender (Lavandula stoechas)</b></td>
    <td width={{ image_width }}><img src=static/lavandula_stoechas.jpg width={{ image_width }}></td>
    <td>A drought-tolerant lavender variety that produces showy purple flowers with distinctive "rabbit ear" bracts.</td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Montpellier Cistus (Cistus monspeliensis)</b></td>
    <td width={{ image_width }}><img src=static/cistus_monspeliensis.jpg width={{ image_width }}></td>
    <td>A flowering shrub that is native to Catalonia and is commonly found in the region's dry and rocky areas.</td>
  </tr>
  <tr>
    <td colspan=3>
      &nbsp;
    </td>
  </tr>
  <tr>
    <td colspan=3>
      <h3>Larger Catalunia Indigenous Plant and Tree Species</h3>
    </td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Aleppo Pine (Pinus halepensis)</b></td>
    <td width={{ image_width }}><img src=static/pinus_halepensis.jpg width={{ image_width }}></td>
    <td>A common tree species found throughout Catalonia, particularly in the coastal areas.</td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Stone Pine (Pinus pinea)</b></td>
    <td width={{ image_width }}><img src=static/pinus_pinea.jpg width={{ image_width }}></td>
    <td>A pine tree species found in Catalonia's coastal areas, known for its edible pine nuts.</td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Holm Oak (Quercus ilex)</b></td>
    <td width={{ image_width }}><img src=static/quercus_ilex.jpg width={{ image_width }}></td>
    <td>Native Oak species found in Catalonia's forests and woodlands.</td>
  </tr>
  <tr>
    <td width={{ title_width }}><b>Cork Oak (Quercus suber)</b></td>
    <td width={{ image_width }}><img src=static/quercus_suber.jpg width={{ image_width }}></td>
    <td>Native Oak species that is native to Catalonia and is known for its valuable cork bark.</td>
  </tr>
</table>

<p>
<br>
<p>

<h3>Overall, environmental benefits help create a healthier and more sustainable planet for current and future generations. It is essential to continue implementing and supporting initiatives that promote environmental protection and sustainability.</h3>

<p>
<br>
<p>
<center>
Links:
<br>
<a href=https://www.greenroofs.com>www.greenroofs.com</a>
<br>
<a href=https://www.greenroofs.com>www.greenroofs.org</a>
<br>
<a href=https://www.forbes.com/home-improvement/roofing/what-are-green-roofs/>What Are Green Roofs</a>
<br>
<a href=https://www.epa.gov/heatislands/using-green-roofs-reduce-heat-islands>Combating Heat Islands</a>
<br>
<a href=https://en.wikipedia.org/wiki/Green_roof>Green Roofs Wikipedia</a>
<br>
<a href=https://www.architecturaldigest.com/gallery/green-roof-living-roof-designs>Architectural Digest</a>
<br>
<a href=https://www.treehugger.com/how-to-install-a-green-roof-4863273>TreeHugger HowTo</a>
<br>
<a href=https://www.youtube.com/watch?v=FlJoBhLnqko>NPR Green Roofs Video</a>
<br>
<a href=https://www.gsa.gov/governmentwide-initiatives/federal-highperformance-green-buildings/resource-library/integrative-strategies/green-roofs>Green Roofs GSA</a>
<br>
<a href=https://www.sempergreen.com/en/solutions/green-roofs/green-roof-benefits>Sempergreen</a>
<br>
<a href=https://untappedcities.com/2024/03/06/green-rooftops-nyc/>Green Roofs NYC</a>
<p>
<br>
<p>

{{ rev }}
<br>
{{ date }}

</body>
</html>
