<html>
<head>
<title>^--- Green UP ---^</title>
</head>
<body>
<h1>Green UP Barcelona</h1>
 
<table>
  <tr>
    {% for i in loop %}
      <td><img src=static/greenup.png width=25></td>
    {% endfor %}
  </tr>
</table>
<h3>Reaching new heights with green rooftops. Verde Vamos.</h3>

<table border= 30>
  <tr>
    <td>Improving air quality</td>
    <td>By reducing harmful emissions and pollutants from industries, transportation, and other sources, GREENUP can significantly improve air quality. This benefits both human health and biodiversity by reducing respiratory issues, smog, and acid rain.</td>
  </tr>
  <tr>
    <td>Protecting biodiversity</td>
    <td> Preserving natural habitats and ecosystems through conservation efforts helps protect endangered species and maintain biodiversity. This is essential for maintaining the balance of ecosystems and preventing the loss of valuable plant and animal species. Currently, 498 species considered vulnerable, and 111 critically, according to the Barcelona Zoo Foundation and UICN Red List.</td>
  </tr>
  <tr>
    <td>Unused resources</td>
    <td> Barcelona rooftops are an unused potential resource which can easily be repurposed. The total rooftop area in Barcelona is estimated to be around 526,000 square meters.</td>
  </tr>
  <tr>
    <td>Rainwater Absorbtion</td>
    <td>Absorbing rainwater also helps to reduce flooding and erosion and can help to improve the quality of local water bodies by reducing the amount of pollutants that are carried into rivers and lakes. By filtering out contaminants such as sediment, nutrients, and chemicals, rainwater absorption can help to protect water quality and habitat for aquatic life.</td>
  </tr>
  <tr>   
    <td>Mitigating climate change</td>
    <td>Implementing measures to reduce greenhouse gas emissions and combat climate change has significant environmental benefits. This includes reducing the severity of natural disasters, preserving polar ice caps, and protecting vulnerable habitats from the impacts of global warming.</td>
  </tr>
</table>

Overall, environmental benefits help create a healthier and more sustainable planet for current and future generations. It is essential to continue implementing and supporting initiatives that promote environmental protection and sustainability.


<p>
<br>
<p>
<center>

{{ rev }}
<br>
{{ date }}

</body>
</html>
